@import './fonts.css';

html, body {
  background-color: #F54736;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }

  #app-content{
    min-width: 100%;
  }
}
